/* line 1, stdin */
.extension-webfont {
  position: fixed;
  right: 1rem;
  top: 1rem;
  width: 300px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 1rem;
  font-family: sans-serif;
  outline: 1px auto;
  background: white;
  transition: .2s all;
  z-index: 999999; }
  /* line 16, stdin */
  .extension-webfont * {
    -webkit-font-smoothing: antialiased; }
  /* line 20, stdin */
  .extension-webfont:hover {
    opacity: 1; }
  /* line 24, stdin */
  .extension-webfont [data-more] {
    padding: 0 1rem; }
  /* line 28, stdin */
  .extension-webfont .load-more-button {
    border-radius: 2px;
    display: inline-block;
    width: 100%;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 1.1rem;
    cursor: pointer;
    background: #3A74E6;
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem; }
  /* line 42, stdin */
  .extension-webfont input {
    padding: 5px;
    display: block;
    border-radius: 2px;
    width: 100%;
    border: 1px solid #aaa;
    font-size: 1rem; }
  /* line 51, stdin */
  .extension-webfont .side-nav {
    max-height: 20rem;
    overflow: auto;
    display: block !important;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #fafafa; }
    /* line 60, stdin */
    .extension-webfont .side-nav li {
      margin-bottom: .2rem;
      width: inherit !important;
      float: none;
      text-align: left !important;
      border-bottom: 1px solid #fff; }
      /* line 67, stdin */
      .extension-webfont .side-nav li a {
        cursor: pointer;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.6);
        font-size: 1rem;
        border-radius: 2px;
        background: #fafafa;
        display: block;
        padding: 5px 10px;
        margin: .3rem; }
        /* line 78, stdin */
        .extension-webfont .side-nav li a:hover {
          color: inherit; }
        /* line 82, stdin */
        .extension-webfont .side-nav li a:active {
          outline: 1px auto; }
